/WebCrawler - Stagii pe bune/nbproject/private/
/WebCrawler - Stagii pe bune/build/
/WebCrawler - Stagii pe bune/dist/
/InstanceSingleton/nbproject/private/
/InstanceSingleton/build/
/TestCrawler/nbproject/private/
/TestCrawler/build/